<p style="color: green"><%= notice %></p>

<div class="search">
  <h1 class="display-3 text-center "> Search for your new home today... </h1>
  <div class="row">
  <div class="col-3"></div>
    <div class="col-6">
      <%= form_with(url: search_properties_path, method: "get") do %>
        <div class="input-group">
          <%= text_field_tag :address, params[:address], class: "form-control", placeholder: "Search by Address" %>
          <%= submit_tag "Search", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
        
<h1 class="text-center my-4" >Properties</h1>
<a href="<%= new_property_path %>" class="btn btn-primary">Add Property</a>


<div class="row" id="properties">
  <% @properties.each do |property| %>
    <div class="col-lg-4 my-3" id="home-property" >
   <h3 class="text-center " > <%= property.name %></h3>
   <% if property.photo.attached? %>
   <%= image_tag property.photo, class: "img-fluid" %>
 <% else %>
   <p>No photo available</p>
 <% end %>
 <h5> <%= property.address %></h5>
    <p class="text-center" >
      <%= link_to "Show this property", property , class:"show-more-link" %>
    </p>
    </div>
  <% end %>
</div>


